
extends base
block content

  .background
  .container
    .item
      .text-item
        h2
          | &iexcl;Bienvenido! 
          br

    .login-section
      .form-box.login
        form.form--login
          h2 Iniciar Sesi&oacute;n
          .input-box
            span.icon
              i.bx.bxs-user-account
            input#email(type='email', required)
            label(for='email') Correo Electronico
          .input-box
            span.icon
              i.bx.bxs-lock-alt
            input#password(type='password' required='')
            label(for='password') Contrase&ntilde;a
          .remember-password
            a(href='#') Olvidaste tu contrase&ntilde;a
          button.btn Ingresar
          .create-account
            p
              | &iquest;A&uacute;n no tienes cuenta?
              a.register-link(href='/registrar')
                |  Registrarse
